[submodule "packages/solmate/lib"]
	path = packages/solmate/lib
	url = git@github.com:Rari-Capital/solmate.git
[submodule "packages/openzeppelin/lib"]
	path = packages/openzeppelin/lib
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
[submodule "packages/compound/lib"]
	path = packages/compound/lib
	url = git@github.com:compound-finance/compound-protocol.git
